* {
  margin: 0;
  padding: 0;
}

.background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.container {
  padding: 30px 100px 50px;
  position: relative;
  z-index: 5;
}

h1 {
  margin: 20px;
  text-align: center;
}